@charset "utf-8";
/*-------------------------设置html的样式-------------------------*/
html{outline:0;-webkit-text-size-adjust:none;width:100%;height:100%;}
/*-------------------------全屏使用下面的代码，配合js使用-------------------------*/
body{position:relative;font-family:PingFang-SC-Medium,Helvetica,"微软雅黑",'STHeiti STXihei','Microsoft JhengHei','Microsoft YaHei',Tohoma, Arial;min-width:300px; margin:0 auto;-webkit-overflow-scrolling:touch;}

/*-------------------------1px线问题（ios8）-------------------------*/
html.hairlines *{border-width:.5px !important;}

/*-------------------------清除页面的内外边距，清楚移动端点击出现的黄线-------------------------*/
body,h1,h2,h3,h4,h5,h6,hr,div,p,blockquote,dl,dt,dd,ul,ol,li,pre,code,form,fieldset,legend,button,input,textarea,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0;-webkit-tap-highlight-color:rgba(0,0,0,0);box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}

/*-------------------------清除页面的下面代码的边距-------------------------*/
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,code,form,fieldset,legend,button,input,textarea{border:none;}

/*-------------------------阻止屏幕旋转时字体自动调整-------------------------*/
html,body,form,fieldset,p,div,h1,h2,h3,h4,h5,h6,span{-webkit-text-size-adjust:none;}

/*-------------------------设置HTML5中的代码为块级元素-------------------------*/
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;padding:0px; margin:0px; border:none;}

/*-------------------------从新设置下面代码的样式-------------------------*/
button,input,select,textarea{font-family:helvetica,"微软雅黑",arial;outline:none;}

/*-------------------------清除页面的中ul a img的样式-------------------------*/
ul,li,img,a,em{list-style:none;border:0;text-decoration:none;font-style:normal;}
:after, :before {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}

/*-------------------------图片自适应调整 并解决图片缩放的失真问题-------------------------*/
img{ max-width:100%;height:auto;border:none;display:inline-block;vertical-align:middle;width:100%;font-size: 10px;}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}

html,body,#app {
  height: 100%;
}
/*-------------------------float-------------------------*/
.fl{ float: left;}
.fr{ float: right;}
/*-------------------------根据自己业务需求-------------------------*/








/*-------------------------清除浮动-------------------------*/
.clearfix:before,.clearfix:after{content:"";display:table;}
.clearfix:after{clear:both;}
.clearfix{*zoom:1;/*IE/7/6*/}
a{display:block;color:#646464;}



//rem适配
@media only screen and (min-width: 320PX) and (max-width:360PX) {
  html {
    font-size:21.3333px
  }
}

@media only screen and (min-width: 360PX) and (max-width:375PX) {
  html {
    font-size:24px
  }
}

@media only screen and (min-width: 375PX) and (max-width:390PX) {
  html {
    font-size: 25px;
  }
}

@media only screen and (min-width: 390PX) and (max-width:414PX) {
  html {
    font-size:26px
  }
}

@media only screen and (min-width: 414PX) and (max-width:640PX) {
  html {
    font-size:27.6px
  }
}
@media screen and (min-width: 640PX) {
  html {
    font-size:35px;
  }
 
}
@media screen and (min-width: 800PX) {
  
 #app {
   width: 1200px;
   margin: 0 auto;
 }
}
//CSS去除Input的边框样式和阴影
/**
 *  修改google浏览器，默认的聚焦黄色背景为白色
 */
input:-webkit-autofill,select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white  inset !important;
}

input{
  outline-color: invert ;
  outline-style: none ;
  outline-width: 0px ;
  //border: none ;
  //border-style: none ;
  text-shadow: none ;
  -webkit-appearance: none ;
  -webkit-user-select: text ;
  outline-color: transparent ;
  box-shadow: none;
}



body {
  background-color: #f1ebe3;
}
.pd {
  padding:.6rem;
}
  h1 {
    font-size: .8rem;
    text-align: center;
    font-weight: bold;
  }
  li {
    font-size: .6rem;
    text-indent: 2em;
    padding-top: .4rem;
  }